<footer class="bd-footer py-4 py-md-3 mt-5 bg-body-tertiary bg-dark text-light">
    <div class=" py-4 px-4 px-md-3 text-body-secondary">

        <div class="float-right">
            <a href="https://www.linkedin.com/in/saviodiow" class="link-no-color" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Saviodiow95" class="link-no-color" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.youtube.com/channel/UCKIGeyGLNPX9UeOybUlLz8Q" class="link-no-color" target="_blank"><i
                    class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/devmakeryt/" class="link-no-color" target="_blank"><i
                    class="fab fa-instagram"></i></a>

        </div>
        <strong>Copyright &copy; 2023 <a href="{% url 'home' %}" class="link-no-color">DevMaker</a>.</strong> Todos os
        direitos reservados.
    </div>
</footer>
